<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Document</title>
    <style>
        body{
            background: #FF512F;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #DD2476, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #DD2476, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-inverse bg-info" style="width: 20rem;">
                <img src="rose.jpeg" class="card-img-top" height="200">
                <div class="card-block">
                    <h4 class="card-title">{{headline}}</h4>
                    <p class="card-text">{{ert}}</p>
                    <a href="#" class="btn btn-outline-danger">Buy Me!</a>
                </div>
            </div>
        </div>
            <div class="col-md-4">
                <div class="card" style="width: 20rem;">
                    <img src="rose.jpeg" class="card-img-top" height="200">
                    <div class="card-block">
                        <h4 class="card-title">Lorem ipsum dolor sit amet.</h4>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam!</p>
                        <a href="#" class="btn btn-outline-primary">Buy Me!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 20rem;">
                    <img src="rose.jpeg" class="card-img-top" height="200" >
                    <div class="card-block">
                        <h4 class="card-title">Lorem ipsum dolor sit amet.</h4>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam!</p>
                        <a href="#" class="btn btn-outline-primary">Buy Me!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>