<html>
    <body>
        {% extends "layout.html" %}
        {% block heading%}First Page {% endblock %}
        {% block body%}
        <p> 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit praesentium corrupti neq
            ue aliquam eius ipsam quidem nihil corporis, libero porro minima, modi officiis iusto
             saepe sint aliquid 
            dignissimos nostrum laboriosam ipsa dolore eos ex ut quo. Reiciendis molestias cum
            que, velit architecto assumenda corrupti, cupiditate temporibus nam id, ex a laboriosam?
        </p>
        <a href="{{url_for('more')}}">See More...</a>
        {% endblock %}
        <!-- url_for() is a special function in jinja2
        inside it we pass the function to which we want to link -->
    </body>
</html>